<script type="module" src="/src/questionEdit.js" charset="utf-8" defer></script>

<a class="back-button" href="/surveyDesigns/{{surveyDesignId}}">← Return to survey overview</a>
<br><br>
<div class="col">
    <div class="row">
        <h2>Question {{number}}</h2>
        <div class="unsaved ml-3 border border-warning alert-warning p-2" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
            You have unsaved changes.
            <a href="#save-question-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 13l5 5 5-5M7 6l5 5 5-5"/></svg>
            </a>
        </div>
    </div>
</div>

<form id="question-form" action="/questions/{{id}}/PATCH" method="POST">

    <h5><label for="text">Question Text<a class="help-tooltip" data-faq-id="9" href="#">?</a></label></h5>
    <textarea class="form-input" type="text" id="text" name="text" rows="4" cols="75" placeholder="Your question here">{{text}}</textarea>
    <br>

    <h5>
        <label for="type">Question Type:<a class="help-tooltip" data-faq-id="10" href="#">?</a></label><br>
        <select class="form-input" name="type" id="type">
            {{#each questionTypes}}
                <option value="{{this.name}}" id="{{this.name}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
            {{/each}}
        </select>
        <small id="type-description"></small>
    </h5>

    <section id="multiple-choice-section">
        <div class="container">
            <h6>Question Choices</h6>
            <div class="input-group">
                <button id="add-choice-btn" type="button" class="btn btn-primary form-control col-2">Add
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                </button>
                <input id="choice-input" type="text" class="form-control col" placeholder="Enter choice">
            </div>
            <ul id="choice-list" class="list-group"></ul>
        </div>
        <textarea hidden class="form-input" type="text" id="choices" name="choices" rows="4" cols="50" placeholder="Write|Choices|Like|This">{{choices}}</textarea>
    </section>
    <br>
    <div id="required-line"><label for="required"><b>Required question?</b><a class="help-tooltip" data-faq-id="12" href="#">?</a></label>
        <input type="checkbox" id="required" name="required" {{#if required}}checked{{/if}}>
    </div>
    <div><label for="allowComment"><b>Allow taker comment?</b><a class="help-tooltip" data-faq-id="11" href="#">?</a></label>
        <input type="checkbox" id="allowComment" name="allowComment" value="true" {{#if allowComment}}checked{{/if}}>
    </div>
    <br>

    <div class="row">
        <div class="col" id="min-line">
            <label for="min" id="min-label">min: </label>
            <input class="form-control" type="number" id="min" name="min" value="{{min}}" min="0">
        </div>
        <div class="col" id="max-line">
            <label for="max" id="max-label">max: </label>
            <input class="form-control" type="number" id="max" name="max" value="{{max}}" min="0">
            <br>
        </div>
    </div>

    <h5>
        <label for="visualizationId">Import Visualization:<a class="help-tooltip" data-faq-id="13" href="#">?</a></label>
    </h5>
    <div class="row">
        <div class="col-2">
            <button class="btn btn-primary form-control" type="button" id="import-vis-button">Import
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
            </button>
        </div>
         <div class="col">
            <select class="form-control" id="visualizationId" name="visualizationId">
                <option value="">Select Visualization</option>
                {{#each visualizations}}
                    <option value={{this.id}}>{{this.name}}</option>
                {{/each}}
                <option value="-1" hidden>Delete</option>
            </select>
        </div>
    </div>

    {{#if visualizationContentId}}
        <br>
        {{#unless DEBUG}}
            <iframe id="displayedImage" src="{{visualURL}}/{{visualizationContentId}}?editor=true" height="360" width="480"></iframe>
        {{/unless}}
        {{#if DEBUG}}
            <iframe id="displayedImage" src="{{visualURL}}" height="360" width="480"></iframe>
        {{/if}}
        <br>
        <button class="btn btn-danger float-right" type="button" id="remove-visualization-button">Remove Visualization</button>
        <br>
    {{/if}}    

    <br>
    <div class="row">
        <button class="btn btn-primary mr-3" id="save-question-button">Save Changes</button>
        <div class="unsaved border border-warning alert-warning p-2" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
            You have unsaved changes.
        </div>
    </div>
</form>