<script type="module" src="/src/questionEdit.js" charset="utf-8" defer></script>

<a class="back-button" href="/surveyDesigns/{{surveyDesignId}}">← Return to survey overview</a>
<br><br>
<h1>Question {{number}}</h1>

<form id="question-form" action="/questions/{{id}}/PATCH" method="POST">

    <h5><label for="text">Question Text<a class="help" href="/faq.html#9" target="_blank">?</a></label></h5>
    <textarea class="form-input" type="text" id="text" name="text" rows="4" cols="75" placeholder="Your question here">{{text}}</textarea>
    <br>

    <h5>
        <label for="type">Question Type:<a class="help" href="/faq.html#10" target="_blank">?</a></label><br>
        <select class="form-input" name="type" id="type">
            {{#each questionTypes}}
                <option value="{{this.name}}" id="{{this.name}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
            {{/each}}
        </select>
        <small id="type-description"></small>
    </h5>

    <section id="multiple-choice-section">
        <h6><label for="choices">Choices: </label></h6>
        <p>All possible choices for a multiple choice question. Separate Choices using the | character.</p>
        <textarea class="form-input" type="text" id="choices" name="choices" rows="4" cols="50" placeholder="Write|Choices|Like|This">{{choices}}</textarea>
        <br>
    </section>
    <br>
    <div id="required-line"><label for="required"><b>Required question?</b><a class="help" href="/faq.html#12" target="_blank">?</a></label>
        <input type="checkbox" id="required" name="required" {{#if required}}checked{{/if}}>
    </div>
    <div><label for="allowComment"><b>Allow taker comment?</b><a class="help" href="/faq.html#11" target="_blank">?</a></label>
        <input type="checkbox" id="allowComment" name="allowComment" value="true" {{#if allowComment}}checked{{/if}}>
    </div>
    <br>

    <div class="row">
        <div class="col" id="min-line">
            <label for="min" id="min-label">min: </label>
            <input class="form-control" type="text" id="min" name="min" value="{{min}}">
        </div>
        <div class="col" id="max-line">
            <label for="max" id="max-label">max: </label>
            <input class="form-control" type="text" id="max" name="max" value="{{max}}">
        </div>
    </div>
    <br>

    <h5>
        <label for="visualizationId">Import Visualization:<a class="help" href="/faq.html#13" target="_blank">?</a></label>
    </h5>
    <div class="row">
         <div class="col">
            <select class="form-control" id="visualizationId" name="visualizationId">
                <option value="">Select Visualization</option>
                {{#each visualizations}}
                    <option value={{this.id}}>{{this.name}}</option>
                {{/each}}
                <option value="-1" hidden>Delete</option>
            </select>
        </div>
        <div class="col">
            <button class="btn btn-primary form-control" type="button" id="import-vis-button">Import</button>
        </div>
    </div>
    <!--
    <div class="form-group">
        <select class="form-input" id="visualizationId" name="visualizationId">
            <option value="">Select Visualization</option>
            {{#each visualizations}}
                <option value={{this.id}}>{{this.name}}</option>
            {{/each}}
            <option value="-1" hidden>Delete</option>
        </select>
        <button class="btn btn-primary" type="button">Import</button>
    </div>-->

    {{#if visualizationContentId}}
        <br>
        {{#unless DEBUG}}
            <iframe id="displayedImage" src="{{visualURL}}/{{visualizationContentId}}?editor=true" height="360" width="480"></iframe>
        {{/unless}}
        {{#if DEBUG}}
            <iframe id="displayedImage" src="{{visualURL}}" height="360" width="480"></iframe>
        {{/if}}
        <br>
        <button class="btn btn-danger float-right" type="button" id="remove-visualization-button">Remove Visualization</button>
        <br>
    {{/if}}    

    <br>
    <button class="btn btn-primary" id="save-question-button">Save Changes</button>
</form>